//
//_buttons.scss - Button declarations.
//

.btn {
	display: inline-block;
	cursor: pointer;
	padding: $btn-padding;
	text-align: center;
	border-radius: $border-radius;
	border: #{$btn-border-size} solid transparent;
	font: inherit;
	&:hover {
		opacity: 0.8;
		text-decoration: none;
	}
	&--main {
		background: $main-color;
		color: $alt-color;
		border-color: darken($main-color, 15%);
		&-ghost{
			background: transparent;
			color: $main-color;
			border-color: $main-color;
		}
	}
	&--alt {
		background: $alt-color;
		color: $main-color;
		border-color: darken($alt-color, 15%);
		&-ghost {
			background: transparent;
			color: $alt-color;
			border-color: $alt-color;
		}
	}
	&--brand {
		background: $brand-color;
		color: #fff;
		border-color: darken($brand-color, 15%);
		&-ghost {
			background: transparent;
			color: $brand-color;
			border-color: $brand-color;
		}
	}
	&--success {
		$success-bg: #2ECC40;
		background: $success-bg;
		color: #fff;
		border-color: darken($success-bg, 15%);
	}
	&--warn {
		$warn-bg: #FF4136;
		background: $warn-bg;
		color: #fff;
		border-color: darken($warn-bg, 15%);
	}
	&--sm {
		padding: $btn-sm;
	}
	&--lg {
		padding: $btn-lg;
	}
}