//
//_tables.scss - Table declarations.
//

table {
	width: 100%;
}
tr {

}
thead {

}
th {
	font-size: 125%;
}
tbody {
	& tr:nth-child(2n-1) {
		background: $alt-bg-color;
	}
}
td {

}
th, td {
	padding: .5em;
	text-align: left;
}