//
//_typography.scss - Typography declarations.
//

h1, h2, h3, h4, h5, h6 {

}
h1,.aplha {
	@include font-size(60px);
}
h2,.beta {
	@include font-size(48px);
}
h3,.charlie {
	@include font-size(38px);
}
h4,.delta {
	@include font-size(30px);
}
h5,.echo {
	@include font-size(24px);
}
h6,.foxtrot {
	@include font-size(20px);
}
p {

}
a {
	color: $brand-color;
	&:hover {
		text-decoration: underline;
	}
}
strong {

}
em {
	font-style: italic;
}
small {
	font-size: 80%;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid $alt-color;
}