//
//_typography.scss - Typography declarations.
//

h1, h2, h3, h4, h5, h6 {

}
h1,.aplha {
	font-size: 4rem;
}
h2,.beta {
	font-size: 3.2rem;
}
h3,.charlie {
	font-size: 2.6rem;
}
h4,.delta {
	font-size: 2.2rem;
}
h5,.echo {
	font-size: 1.8rem;
}
h6,.foxtrot {
	font-size: 1.6rem;
}
p {

}
a {
	color: $brand-color;
	&:hover {
		text-decoration: underline;
	}
}
strong {

}
em {
	font-style: italic;
}
small {
	font-size: 80%;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid $alt-color;
}