//
//_theme.scss - Theme declarations.
//this should not output any css.
//

//palette
$main-color: #111;
$alt-color: #aaa;

$brand-color: #70C0F2;

$main-bg-color: #fff;
$alt-bg-color: #eee;

//fonts
$main-font-family: verdana, sans-serif;
$main-font-color: $main-color;
$main-font-size: 12px;

$alt-font-family: arial, sans-serif;
$alt-font-color: $alt-color;
$alt-font-size: 14px;

//layout
$border-radius: 5px;
$section-spacing: 20px;

//btns
$btn-top-padding: 6px;
$btn-left-padding: 12px;
$btn-border-size: 2px;

//nav
$nav-bg: #111;
$nav-color: #fff;
$nav-top-padding: 6px;

//form
$control-padding: 6px;
$control-margin: 15px;

//breakpoints - populated in _breakpoints.scss
$large-breakpoint: "(max-width: 1024px)";
$small-breakpoint: "(max-width: 767px)";

//external fonts (commented out until needed)
//requires the font name to be the same as the file name(s)
//works with @include font(open-sans-webfont); (found in _mixins.scss)
// @each $font-face in 'font-1', 'font-2'  {
//     @font-face {
//       	font-family: $font-face; font-style: normal; font-weight: normal;
//       	src: url('../fonts/#{$font-face}.eot');
//       	src: url('../fonts/#{$font-face}.eot?') format('eot'),
//            	 url('../fonts/#{$font-face}.woff') format('woff'),
//            	 url('../fonts/#{$font-face}.ttf') format('truetype');
//     }
// }