//
//_variables.scss - Logic declarations.
//

//assets path
//url(#{$asset-path}img.jpg);
$asset-path : "../assets/";

//buttons
$btn-padding: $btn-top-padding $btn-left-padding;
$btn-sm: $btn-top-padding / 2 $btn-left-padding / 2;
$btn-lg: $btn-top-padding * 2 $btn-left-padding * 2;